@model AspNetCoreEntityFrameworkApp.Models.Course

<div class="container w-50 p-5">
    <h4>Course details</h4> 
    <hr />
    <dl class="row text-center">
        <dt class="col-sm-6">Name</dt>
        <dd class="col-sm-6">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-6">Study Year</dt>
        <dd class="col-sm-6">@Html.DisplayFor(model => model.StudyYear)</dd>
    </dl>
</div>

<!-- Detaliile (anunturile) cursului -->
<div class="container w-50 p-5">
    <h4>Course announcements</h4>
    <hr />
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex row">
                <div class="profile-picture  col-1">
                    <img src="~/img/defaultprofile.png" class="rounded-circle" width="100%" height="100%">
                </div>
                <div class="col-11">
                    <h4 class="card-title col-5">Teacher</h4>
                    <h6 class="card-subtitle text-muted">Date</h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="content">
                @Html.DisplayFor(model => model.Announcements)
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex row">
                <div class="profile-picture  col-1">
                    <img src="~/img/defaultprofile.png" class="rounded-circle" width="100%" height="100%">
                </div>
                <div class="col-11">
                    <h4 class="card-title col-5">Teacher</h4>
                    <h6 class="card-subtitle text-muted">Date</h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
</div>
